.container{
    margin-top: 80px;
}

.btn{
    display: flex;
    justify-content: flex-end;
}



@media (max-width: 576px) {
    .cell {
      overflow-wrap: break-word;
      white-space: wrap;
    }
  }
  